<h1>{{ !!id ? 'Edit Task' : 'Add a New Task' }}</h1>

<form (ngSubmit)="formSubmitHandler()">
    <label>
        <span class="title">Title</span>
        <input type="text" name="title" minlength="3" required [(ngModel)]="title" />
    </label>
    <label>
        <span class="title">Description</span>
        <textarea name="description" rows="3" [(ngModel)]="description"></textarea>
    </label>
    <div class="actions">
        <a class="ghost default cancel" routerLink="/">Cancel</a>
        <button class="solid primary submit">Submit</button>
    </div>
</form>
