section {
    margin-block: 4rem;

    h2 {
        margin-block: 1rem;
    }

    .tasks {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        > li {
            background-color: var(--color-white);
            box-shadow: var(--box-shadow-subtle);

            display: grid;
            grid-template-areas: "title actions" "description actions";
            grid-template-columns: 1fr auto;
            align-items: center;
            column-gap: 2rem;

            padding: 2rem;

            border-radius: var(--border-radius);

            .title {
                grid-area: title;

                font-size: 1.8rem;
                font-weight: 700;
            }

            .description {
                grid-area: description;

                white-space: pre-wrap;
            }

            .actions {
                grid-area: actions;

                display: flex;
                gap: 1rem;
            }
        }
    }
}
