<h1>Home Page</h1>

<section class="tasks">
    <h2>Tasks</h2>
    <ul>
        @for (task of taskService.tasks; track task.id) {
            <li>
                <div class="title truncate">{{ task.title }}</div>
                <div class="description">{{ task.description }}</div>
                <div class="actions">
                    <button class="solid primary edit">Edit</button>
                    <button class="outline danger remove">Remove</button>
                </div>
            </li>
        }
    </ul>
</section>
