<h1>Home Page</h1>

<section>
    <h2>Tasks</h2>
    <ul class="tasks">
        @for (task of taskService.tasks; track task.id) {
            <li>
                <div class="title truncate">{{ task.title }}</div>
                <div class="description">{{ task.description }}</div>
                <div class="actions">
                    <a class="solid primary" [routerLink]="['/task', {id: task.id}]">Edit</a>
                    <button class="outline danger">Remove</button>
                </div>
            </li>
        }
    </ul>
</section>
